<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>~ Python Connect Re:Sponse ~</title>
    <link rel="icon" href="{{ url_for('static',filename='img/icon.ico') }}" sizes="64x64">
    <!-- <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'> -->
    <link href="{{ url_for('static',filename='css/semantic.min.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/semantic.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/ace.js') }}"></script>
    <script src="{{ url_for('static',filename='js/ext-beautify.js') }}"></script>
    <script src="{{ url_for('static',filename='js/ext-language_tools.js') }}"></script>
    <script src="{{ url_for('static',filename='js/mode-python.js') }}"></script>
    <script src="{{ url_for('static',filename='js/theme-xcode.js') }}"></script>
    <script src="{{ url_for('static',filename='js/theme-twilight.js') }}"></script>

    <link href="{{url_for('static',filename='css/highlight.css')}}" rel='stylesheet' type="text/css">

    <link href="{{ url_for('static',filename='css/general.css') }}" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" scroll="no">
    <div id="root" class="ui container">

        <h2 class="ui center aligned icon header">
            <i class="pink edit icon"></i>
            <b id="title" style="color: #F72D81; font-family:Consolas;">~ Python Connect Re:Sponse ~</b>
        </h2>

        <div id="result" class="ui hidden positive message"><i class="close icon" onclick="eraseMessage(this)"></i>
        </div>

        <div class="ui form">
            <div class="field">
                <!-- <div id="codearea" contenteditable="false" onclick="hideCodearea()" style="visibility:hidden"></div> -->
                <label>Edit your CODE here:</label>
                <div class="ui content">
                    <div id="editor">print("Hello, My Happy World!")</div>
                </div>
            </div>

            <div class="field" id="btnGroup">
                <div id="runBtn" class="ui blue labeled submit icon button" onclick="runScript()">
                    <i class="icon code"></i>Run Code!
                </div>
                <div id="help" class="ui violet labeled icon button" onclick="showHint()">
                    <i class="icon info"></i>Help
                </div>
                <div id="clear" class="ui red labeled icon button" onclick="clearCode()">
                    <i class="icon trash"></i>Clear Code
                </div>
                <div id="skin" class="ui black labeled icon button" onclick="changeSkin()">
                    <i id="skinIcon" class="icon moon"></i>Change Skin
                </div>
                <div id="upload" class="ui green labeled icon button" onclick="uploadCode()">
                    <i class="icon upload"></i>Upload Code
                </div>
                <div class="circular ui icon button" onclick="decFontSize()">
                    <i class="icon minus"></i>
                </div>
                <div class="circular ui icon button" onclick="incFontSize()">
                    <i class="icon plus"></i>
                </div>
            </div>

            <div class="field">
                <label>Input data:</label>
                <textarea id="inputData"" rows=" 5"></textarea>
            </div>
        </div>

        <!-- <div id="loading"></div> -->

        <div class="ui center aligned vertical footer segment">
            <p><b>Python-Connect-ReSponse</b> by <a href="https://github.com/wr786" target="_blank" rel="noopener noreferrer">@wr786</a></p>
            <p>基于MPL-2.0在<a href="https://github.com/wr786/Python-Connect-ReSponse" target="_blank" rel="noopener noreferrer">GitHub</a>开源</p>
        </div>

    </div>

    <script>
        this.editor = ace.edit('editor'); // 这个地方就是id是editor的div
        this.editor.setTheme('ace/theme/xcode');
        let pyMode = ace.require('ace/mode/python').Mode;
        this.editor.session.setMode(new pyMode());

        var curFontSize = 16;   // 默认字号
        var curIDESkinID = 1;   // 默认XCode样式

        // 实现在输入框能正确输入Tab（缩进），以及用Shift+Enter运行代码
        var onTextareaKeydown = function (e) {
            if (e.keyCode == 9) {
                e.preventDefault();
                var start = this.selectionStart,
                    end = this.selectionEnd;
                var text = this.value;
                var tab = '    ';
                text = text.substr(0, start) + tab + text.substr(start);
                this.value = text;
                this.selectionStart = start + tab.length;
                this.selectionEnd = end + tab.length;
            } else if (e.keyCode == 13 && e.shiftKey) {
                runScript();
            } else if (e.keyCode == 18) {
                addHighLight();
            }
        }
        document.getElementById('inputData').onkeydown = onTextareaKeydown; 

        // 消除运行信息
        function eraseMessage(that) {
            $(that).closest(".message").transition('fade');
        }

        // function hideCodearea() { // 隐藏高亮代码
        //     $("#codearea").html("");
        //     $("#codearea").css("visibility", "hidden");
        //     $("#edit").attr("rows", "25")
        // }

        // function addHighLight() { // 加高光
        //     code = $("#edit").val();
        //     var sendData = {
        //         code
        //     };
        //     $.post('/highlight', sendData, function (rtnSvr) {
        //         $("#codearea").html(rtnSvr);
        //         $("#codearea").css("visibility", "visible");
        //     })
        //     $("#edit").attr("rows", "12");
        // }

        // 给予常见错误的中文提示
        function ErrorTranslate(str) {  
            if (str.indexOf('AttributeError') != -1) return "试图访问一个对象没有的属性";
            if (str.indexOf('IOError') != -1) return "输入/输出异常";
            if (str.indexOf('ImportError') != -1) return "无法引入模块或包，有一定可能是服务器上没有这个包";
            if (str.indexOf('IndentationError') != -1) return "代码没有正确对齐，试试检查一下缩进";
            if (str.indexOf('IndexError') != -1) return "下标越界";
            if (str.indexOf('KeyError') != -1) return "试图访问字典里不存在的键";
            if (str.indexOf('KeyboardInterrupt') != -1) return "程序被用Ctrl+C中止运行";
            if (str.indexOf('NameError') != -1) return "使用一个还未被赋予对象的变量，试试检查一下变量拼写";
            if (str.indexOf('SyntaxError') != -1) return "代码非法，试试检查一下是否不小心混入了中文字符或标点，或者是不是忘记了加:？";
            if (str.indexOf('TypeError') != -1) return "传入对象类型与要求的不符合，试试检查一下函数调用";
            if (str.indexOf('ValueError') != -1) return "传入对象的值与要求的不符合，试试检查一下函数调用";
            if (str.indexOf('UnboundLocalError') != -1) return "试图访问一个还未被设置的局部变量，可能是由于另有一个同名的全局变量，导致你以为正在访问它";
            if (str.indexOf('Unknown Error') != -1) return "请尽量只使用英文字母！目前并不支持中文、日文及其他语言的文字。<br/>或者是你的程序超时了！";
            if (str.indexOf('EOFError') != -1) return "您可能没有提供足够的输入，试试检查一下输入框";
            return "";
        }

        // 运行代码
        function runScript() {
            // $("#loading").html('<div class="ui icon message" style="visibility: hidden;"><i class="notched circle loading icon"></i><div class="content"><div class="header">Please wait...</div><p>Compiling & Running</p></div></div>')
            // code = $("#edit").val();
            var timestamp = (new Date()).valueOf(); // 获取当前的时间戳，用来命名代码文件
            var code = this.editor.getValue();
            var inputData = $("#inputData").val();
            var sendData = {
                timestamp,
                code,
                inputData
            };
            $.post('/runScript', sendData, function (rtnSvr) {
                var rtnval = rtnSvr[0];
                var result = rtnSvr.substr(1);
                result = result.replaceAll("\n", "<br/>")
                result = result.replaceAll(" ", "&ensp;")
                if (rtnval == "0") { // 运行正常
                    $("#result").html('<i class="close icon" onclick="eraseMessage(this)"></i>' +
                        '<div class="header">Result:</div>' + result + '');
                    $("#result").removeClass("hidden");
                    $("#result").removeClass("negative");
                    $("#result").removeClass("warning");
                    $("#result").addClass("positive");
                } else if (rtnval == "1") { // 出现异常
                    var resultHTML = '<i class="close icon" onclick="eraseMessage(this)"></i>' +
                        '<div class="header">Error:</div>' + result + '';
                    // if(result.indexOf('Traceback') != -1) { // find，主要是判断是否是特殊字符造成的错误
                    resultHTML += ErrorTranslate(result);
                    // }
                    $("#result").html(resultHTML);
                    $("#result").removeClass("hidden");
                    $("#result").removeClass("positive");
                    $("#result").removeClass("warning");
                    $("#result").addClass("negative");
                } else if (rtnval == "2") { // 出现禁用库
                    $("#result").html('<i class="close icon" onclick="eraseMessage(this)"></i>' +
                        '<div class="header">Warning:</div>Package ' + result + ' is banned by the Server.<br/>系统已禁用' + result + '库！');
                    $("#result").html(resultHTML);
                    $("#result").removeClass("hidden");
                    $("#result").removeClass("positive");
                    $("#result").removeClass("negative");
                    $("#result").addClass("warning");
                }
            })
            // $("#loading").html("")
        }

        // 帮助信息
        function showHint() {
            alert("Welcome to Python Connect Re:Sponse!\n")
            alert(
                "You can use some shortcuts(like Ctrl+Z) as you are using an local IDE!\n你可以像使用本地的IDE一样使用一些快捷键（如Ctrl+Z）")
            alert(
                "And notice that you can ONLY have English in your code, which means that you can't use Chinese characters.\n（注意，请只是用字母，而不要使用中文汉字）")
            alert("Use Upload Code to share your code with others! Or just to download your code.\n利用上传代码的功能来将您的代码分享给其他人！或者仅仅是为了下载自己的代码。")
            alert("Use - & + to change font size!\n利用“-”和“+”来改变字体大小！")
        }

        // 清空代码
        function clearCode() {
            this.editor.setValue("");
        }

        // 改变IDE皮肤，目前仅支持xcode和twilight（其实还可以再加
        function changeSkin() {
            if (curIDESkinID == 1) {
                this.editor.setTheme('ace/theme/twilight');
                $("#skin").removeClass("black").addClass("orange");
                $("#skinIcon").removeClass("moon").addClass("sun");
            } else {
                this.editor.setTheme('ace/theme/xcode');
                $("#skin").removeClass("orange").addClass("black");
                $("#skinIcon").removeClass("sun").addClass("moon");
            }
            curIDESkinID = 3 - curIDESkinID;
        }

        // 上传代码
        function uploadCode() {
            var timestamp = (new Date()).valueOf(); // 获取当前的时间戳，用来命名代码文件
            var code = this.editor.getValue().replaceAll('\r\n', '\n');
            var sendData = {
                timestamp,
                code,
            };
            var filename = "ERROR"; // 初始化为ERROR，便于DEBUG
            $.post("/upload", sendData, function (rtnSvr) {
                $("#result").html('<i class="close icon" onclick="eraseMessage(this)"></i>' +
                    '<div class="header">Share Link:</div><a href="/share/' + rtnSvr +
                    '">127.0.0.1/share/' + rtnSvr + '</a>');
                $("#result").removeClass("hidden");
                $("#result").removeClass("negative");
                $("#result").removeClass("warning");
                $("#result").addClass("positive");
            });
        }

        // 改变字号
        function setFontSize(size) {
            this.editor.container.style.fontSize = String(size) + "px";
        }
        setFontSize(curFontSize);   // 默认字号

        // 缩小字体
        function decFontSize() {
            curFontSize -= 1;
            setFontSize(curFontSize);
        }

        // 放大字体
        function incFontSize() {
            curFontSize += 1;
            setFontSize(curFontSize);
        }

        // 实现replaceAll函数
        String.prototype.replaceAll = function (s1, s2) {
            return this.replace(new RegExp(s1, "gm"), s2);
        }
    </script>

</body>

</html>