<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>~ Python Connect Re:Sponse ~</title>
    <link rel="icon" href="{{ url_for('static',filename='img/icon.ico') }}" sizes="64x64">
    <!-- <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'> -->
    <link href="{{ url_for('static',filename='css/semantic.min.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/semantic.min.js') }}"></script>

    <link href="{{url_for('static',filename='css/highlight.css')}}" rel='stylesheet' type="text/css">

    <link href="{{ url_for('static',filename='css/general.css') }}" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" scroll="no">
    <div id="root" class="ui container">

        <h2 class="ui center aligned icon header">
            <i class="pink edit icon"></i>
            <b id="title" style="color: #F72D81; font-family:Consolas;">~ Python Connect Re:Sponse ~</b>
        </h2>
        
        <a href="../download/{{filename|safe}}">
            <div id="download" class="ui green labeled icon button">
                <i class="icon download"></i>Download
            </div>
        </a>

        <div class="field">
            <div id="codearea" contenteditable="false">
                {{code|safe}}
            </div>
        </div>

        <div class="ui center aligned vertical footer segment">
            <p><b>Python-Connect-ReSponse</b> by <a href="https://github.com/wr786" target="_blank" rel="noopener noreferrer">@wr786</a></p>
            <p>基于MPL-2.0在<a href="https://github.com/wr786/Python-Connect-ReSponse" target="_blank" rel="noopener noreferrer">GitHub</a>开源</p>
        </div>

    </div>

</body>

</html>