body > .ui.container {
    margin-top: 2em;
}

.ui.container > h1 {
    font-size: 3em;
    text-align: center;
    font-weight: normal;
}

.ui.container > h2.dividing.header {
    font-size: 2em;
    font-weight: normal;
    margin: 4em 0em 3em;
}

.ui.table {
    table-layout: fixed;
}

#codearea {
    overflow:visible;
    padding: 2%;
}

p {
    margin: 0;
}

/* body {
    overflow: hidden;
} */

#editor {
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: auto;
    height: 375px;
}